<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Exu Terminal for <%= env.USER %>@<%= exu.hostname %></title>
  <link rel="stylesheet" href="<%= myWebRoot %>/style.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css">
</head>
<body>

  <div id="terminal-outbox">
    <div class="terminal-container">Loading Exu Terminal...</div>
  </div>
  <div id="scroller"></div>

  <!- TODO: exu must provide basic UI libs -->
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="<%= myWebRoot %>/term.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var term, socket;
    window.onload = function() {
      socket = io(':'+document.location.port+'<%= termRoomName %>');
      socket.on('connect', function() {
        Terminal.colors[256] = 'transparent';
        term = new Terminal({
          cols: 80,
          rows: 24,
          useStyle: true,
          screenKeys: true,
          cursorBlink: true
        });

        term.on('data', function(data) {
          socket.emit('data', {termData: data});
        });

        function updateTitle() {
          document.title = 'Term ' + term.title;
        }

        term.on('bell', function() {
          var bStyle = document.body.style
          bStyle.background = '#888';
          setTimeout(function(){ bStyle.background = '#333' }, 300);
          for (var i=1; i<7; i+=2) {
            setTimeout(function(){ document.title = 'Bell!' }, i*500);
            setTimeout(updateTitle, (i+1)*500);
          }
        });

        var div = $('.terminal-container').empty()[0];
        term.open(div);

        var scroller = $('#scroller').slider({
          orientation: 'vertical',
          value: -term.ydisp,
          min: -term.ybase,
          max: 0,
          step: 1,
          slide: function(event, ui) {
            console.log(term.ybase, ui.value, term.ydisp);
            term.scrollDisp(-ui.value - term.ydisp);
          }
        });

        function updateScroller() {
          scroller.slider('option', 'min', -term.ybase);
          scroller.slider('option', 'value', -term.ydisp);
        }

        term.on('keydown', function(ev) {
          console.log('keydown', ev);
          //updateScroller(); // does no catch Ctrl+PgUp TODO: get from document
        });
        term.on('keypress', function(ev) {
          console.log('keypress', ev);
          //updateScroller(); // does no catch Ctrl+PgUp TODO: get from document
        });

        function updateTermSize() {
          var line = $('.terminal > div');
          var chrW = line.width() / term.cols;
          var chrH = line.height();
          var box  = $('#terminal-outbox');
          var boxW = box.width();
          var boxH = box.height();
          var newCols = Math.floor(boxW / chrW);
          var newRows = Math.floor(boxH / chrH);
          term.resize(newCols, newRows);
          socket.emit('resize', {cols:newCols, rows:newRows});
          box.css('padding-top', Math.floor((boxH - newRows*chrH)/2));
        }
        updateTermSize();

        window.addEventListener('resize', updateTermSize);

        socket.on('data', function(data) {
          if (data.termData != null) {
            term.write(data.termData);
            updateTitle();
            updateScroller();
          }
        });
     
        socket.on('disconnect', function() {
          term.write('\r\n\x1b[31mConnection closed. Terminal lost.\x1b[m');
          // term.destroy();
        });
      });
    };
  </script>

</body>
</html>
