body {
  font-size: 14px;
  font-family: "Liberation Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #333;
  height: 100%;
  overflow: hidden;
}

#terminal-outbox {
  position: absolute;
  top: 0;
  left: 10px;
  right: 25px;
  height: 100%;
  overflow: hidden;
}

.terminal-container {
  text-align: center;
}

.terminal {
  background: transparent;
  float: none;
  display: inline-block;
  border: none;
  text-align: left;
  font-size: 14px;
}

.terminal-cursor.on {
  opacity: 0.8;
}

.terminal-cursor.off {
  visibility: visible;
  opacity: 0.5;
}

#scroller {
  position: absolute;
  right: 5px;
  top: 15px;
  bottom: 15px;
  height: auto;
}

#scroller * {
  outline: 0;
}
